html, 
body, 
.wave-container, 
.content-wrap {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.wave-container {
	background: #aaa;
}
.menu-wrap a {
	color: #ccc;
}
.menu-wrap a:hover,
.menu-wrap a:focus {
	color: #56d6fe;
}
.content-wrap {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.content {
	position: relative;
	background: #b4bad2;
}
.content::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
	transition: opacity 0.4s, transform 0s 0.4s;
}
/* Menu Button */
/* Menu Button */
.menu-button {
	position: fixed;
	bottom: 0;
	z-index: 1000;
	padding: 0;
	border: none;
	text-indent: 2.5em;
	font-size: 1.5em;
	color: transparent;
	background: transparent;
}
.menu-button{
	width: 150px;
	height: 150px;
	position: absolute;
	left: 1%;
	bottom: 1%;
	overflow: hidden;
	text-indent: 16px;
	overflow: hidden;
	background: url('../images/menu1.png') no-repeat;
}
.menu-button:hover {
	opacity:1;
	background: url('../images/menu1.png') -154px no-repeat;
	
}
/* Close Button */
.close-button {
	width: 87px;
	height: 38px;
	margin:auto;
	background:url('../images/close.png') 0 2px no-repeat;
	position: absolute;
	left: 0;
	bottom: 8.2em;
	overflow: hidden;
	border-radius:100px;
	text-indent: 16px;
	border: none;
	z-index: 1001;
	color: transparent;
}
.close-button:hover{
	background:url('../images/close.png') -87px 2px no-repeat;
}
/* Menu */
.menu-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1001;
	width: 100%;
	height: 160px;
	font-size: 1.15em;
	-webkit-transform: translate3d(0,160px,0);
	transform: translate3d(0,160px,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
}
.menu {
	position: absolute;
	width: 100%;
	z-index: 1000;
	text-align: center;	
	top: 50%;
	padding: 0 1.5em;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}
.icon-list a,
.close-button {
	opacity: 0;
	-webkit-transform: translate3d(0,200px,0);
	transform: translate3d(0,200px,0);
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: opacity 0.4s, transform 0.4s;
}
.icon-list a {
	display: inline-block;
	padding: 0.8em;
}
.icon-list a i {
	vertical-align: middle;
}
.icon-list a span {
	display: inline-block;
	margin-left: 10px;
	font-size: .9em;
	vertical-align: middle;
	font-weight: 700;
	letter-spacing: 1px;
}
/* Morph Shape */
.morph-shape {
	position: absolute;
	width: 100%;
	width: calc(100% + 400px);
	height: 100%;
	top: 0;
	left: 0;
	fill: #000;
	opacity:0.7;		/* THE FUCKING OPACITY!!! */
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translate3d(-400px,0,0);
	transform: translate3d(-400px,0,0);
}
/* Shown menu */
.show-menu .menu-wrap,
.show-menu .icon-list a,
.show-menu .close-button,
.show-menu .morph-shape,
.show-menu .content::before {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.show-menu .menu-wrap,
.show-menu .content::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.show-menu .icon-list a,
.show-menu .close-button,
.show-menu .content::before {
	opacity: 1;
}
.show-menu .icon-list a:nth-child(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}
.show-menu .icon-list a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.show-menu .icon-list a:nth-child(4) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.show-menu .icon-list a:nth-child(5) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.show-menu .icon-list a:nth-child(6) {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}
.show-menu .close-button {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.show-menu .content::before {
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}